*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold:900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em 0.2em rgba(0,0,0, 0.25),
    0.125em 0.125em 0.25em 0.3em rgba(0,0,0,.15);;
}

@media (min-width: 800px){
    :root{
    
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

strong{
    font-weight: var(--fw-bold);
}

section{
    padding: 5em 2em;
}

/* Basic Styles for image */

img{
    display: block;
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}



/* Styling the subtitles and titles */
.section-title{
    margin: 0.25em;
}

.section-title-intro{
    font-weight: var(--fw-reg);
}

.section-title-intro strong{
    display: block;
}

.section-subtitle{
    font-size: var(--fs-h3);
    margin: 0;
}

.section-subtitle-intro,
.section-subtitle-about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: 0.25em 1em;

}

/* styling the Header */

header{
    display: flex;
    justify-content: space-between; /* since we dont have any logo this is not going to have any effect */
    padding: 1em;
    
}

.logo{

    /* we dont have any logo */
}

nav{
    
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250m ease-in-out; /* here we have an cubic bezier but its complicated so i have used simple ease-in-out here */
    /* display: none; */

}

.nav-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.nav-link{
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    
}

.nav-link:hover{
    color: var(--clr-accent);
}

/* styling hamburger icon */

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background-color: var(--clr-accent);
    height: 3px;
    width: 2em;
    /* This is giving smooth transitions upon clicking on hamburger */
    transition: transform 300ms ease-in-out;
    border-radius: 1em;
}

.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

.nav-toggle{
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    padding: .5em;
    /* not getting why following three properties have been added */
    position: absolute;
    right: 1em;
    top: 1em;

}

/* adding animation for hamburger through JS */
.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.100turn);
}

.nav-open .hamburger::after{
    opacity: 0;
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

/* styling the intro section */

.intro{
    position: relative;
}



@media (min-width: 600px){
    .intro{
        display: grid;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;

        margin:0 auto;
        width: min-content;
    }
    .intro-img{
        grid-area: img;
        max-width: 300px;
        
        
    }

    .section-subtitle-intro{
        grid-area: subtitle;
        align-self: start;
        grid-column: 1/-1;
        text-align: right;
        grid-row: 2;
        position: relative;
        left: -1.5rem;
        width: calc(100% + 1.5em);
        
    }
}

.intro-img{
    border-radius: 50%;
    box-shadow: var(--bs);
    max-width: 300px;
    border: 1px solid black;
    z-index: 2;
    position: relative;
}

.section-subtitle-intro{
    display: inline-block;
}


/* styling the footer */

.footer{
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h3);
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer-link{
    font-weight: var(--fw-bold);
   
}

.footer-link:hover,
.social-list-link:hover{
    opacity: 0.6;
}
.footer-link:hover{
    text-decoration: underline;
}

.social-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 2em 0;

}

.social-list-item{
    margin: 0.5em;
    padding: 0.5em;